*{
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 390px;
    height: 844px;
    margin: 0%;
    background: var(--pink-10);
}
.circle{
    width: 209px;
    height: 209px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid var(--white);
    position: relative;
    top: 114px;
}
.profile-pic{
    width: 209px;
    height: 209px;
    border-radius: 50%;
}
.container{
    width: 390px;
    height: 499px;
    top: 267px;
    border-radius: 40px;
    background: var(--turquoise-30);
    font-family: 'Kodchasan';
}
.container h1{
    font-size: 30px;
    position: relative;
    top: 106px;
    left: 20px;
}
.container button{
    background: var(--blue);
    color: var(--white);
    font-size: 17px;
    position: relative;
    justify-content: center;
}

.btn-edit{
    width: 103px;
    height: 48.15px;
    left: 270px;
    top: 43px;
    border-radius: 22px;
}

.container p{
    position: relative;
    left: 28px;
    top: 20px;
}

.description{
    background: var(--turquoise);
    display: flex;
    margin: 20px;
    margin-top: 31px;
    margin-bottom: 31px;
}

.description p{
    justify-content: center;
    left: 10px;
    top:0;
    color: var(--white);
    font-size: 17px;
    position: relative;
}
.p-ar{
    background: var(--pink-20);
}
.p-art{
    background: var(--pink);
}

.calificacion{
    display: flex;
    position: relative;
    left: 20px;
    width: 160px;
    justify-content: space-between;
}

.calificacion img{
    position: relative;
}

.btn-resenhas{
    width: 279px;
    height: 48.15px;
    left: 55px;
    margin-top: 40px;
}

.redes-sociales{
    display: flex;
    position: relative;
    top:10px;
    left: 20px;
    width: 250px;
    justify-content: space-between;
}

.popup{
    width: 270px;
    background: var(--white);
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.popup .h2{
    font-size: 20px;
    margin: 30px 0 10px;
}
.popup .p{
    font-size: 10px;
}
.popup .btn-pop{
    width: 54px;
    margin-top: 50px;
    padding: 10px 0;
    background: #EECD57;
    color: #737373;
    font-size: 13px;
    border-radius: 12px;
}