.device {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--turquoise-20);
    width: 100%;
    flex-grow: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volver {
    background-color: var(--white);
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.volver button {
    font-family: 'Kodchasan';
    font-style: normal;
    color: var(--turquoise-20);
    font-size: 20px;
    padding-left: 10px;
    padding-top: 30px;
    border: none;
    background-color: var(--white);
}

.volver button :visited{
    color: var(--turquoise-20);
}
.busqueda .rect{
    align-items: center;
}
.comisiones-solicitadas li{
    list-style: none;
}
.comisiones-solicitadas a{
    text-align: center;
}
.popup-rese単a{
    width: 270px;
    background: var(--white);
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.popup-rese単a .h2{
    font-size: 20px;
    margin: 30px 0 10px;
}
.popup-rese単align-items .p{
    font-size: 10px;
}
.popup-rese単a .btn-pop{
    width: 54px;
    margin-top: 50px;
    padding: 10px 0;
    background: #EECD57;
    color: #737373;
    font-size: 13px;
    border-radius: 12px;
}
.btn-end{
    width: 103px;
    height: 48.15px;
    left: 270px;
    top: -41px;
    border-radius: 22px;
    visibility: hidden;
}